body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.image-container {
    flex: 1;
    padding: 10px;
}

.restaurant-image {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.info-container {
    flex: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant-name {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
}

.tag {
    background: #e0e0e0;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.85rem;
}

.details {
    font-size: 0.9rem;
}

.rating {
    color: #ff9800;
    font-weight: bold;
    align-items: center;
    display: flex;
    gap: 5px;
}

.star {
    font-size: 1rem;
    color: #ff9800;
}

.restaurant-address {
    color: #666;
    margin-top: 5px;
}

.no-results {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #666;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f4f4f4;
}

.header-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6a00;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #e65c00; /* A slightly darker shade for the hover state */
}
